<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!--  id가 이름. 그냥 getBean으로 가져올 때 필요한 고윳값 / class가 실제로 new로 만들고 싶은 클래스  -->
    <bean id="connectionMaker" class="MyConnectionMaker" />
    <bean id="userDao" class="UserDao">
<!--  프로퍼티는의 name은 셋터의 이름. ref는 전달할 함수의 리턴       -->
        <property name="connectionMaker" ref="connectionMaker"/>
    </bean>

</beans>